In [1]:
# CAGED (Cadastro Geral de Empregados e Desempregados)
# name:         caged_xlsx_to_csv
# date:         29/03/2022 - 01/04/2022
# description:  caged xlsx file data processed, optimized and saved into csv file

import pandas as pd

In [2]:
# creates panda database with all file sheets               - dfb
# creates panda dataframe with specific sheets              - first_df
# creates /path/files names for getting and saving data     - file_in, file_out

file_in = '3-tabelas_DEZ.xlsx'
file_out = 'caged.csv'

skiprows = 4  # [0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0]

dfb = pd.read_excel(file_in, sheet_name=None, skiprows=skiprows)
first_df = dfb['Tabela 5.1']
# df

/home/noobgoodie/.local/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
/home/noobgoodie/.local/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
/home/noobgoodie/.local/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [3]:
# optimizes data mensal evolution by dates with Saldos

months_names_br = ('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
                   'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')
month_names_dec = ('01',      '02',        '03',    '04',    '05',
                   '06',    '07',    '08',     '09',       '10',      '11',       '12')

# prepare dict variable to the replacements
mbr2mdec = dict(zip(months_names_br, month_names_dec))

df2 = first_df.copy()

# selecting date cells only
df2 = df2[(df2['Mês'].str.slice(-4) >= '1900') &
          (df2['Mês'].str.slice(-4) <= '2099')]

# months name to months numbers replacements
df2['Mês'] = df2['Mês'].replace(mbr2mdec, regex=True)
df2['Mês'] = df2['Mês'].str.replace('/', '-')
df2['Mês'] = pd.to_datetime(
    df2['Mês'], format='%Y-%m-%d', infer_datetime_format=True)


def try_int(val):
    try:
        val = float(val)
        val = int(val)
        return True
    except:
        return False


filter = df2['Saldos'].apply(try_int)
df2.drop(df2[filter == False].index, inplace=True)

df2['Saldos'] = df2['Saldos'].astype(int)
first_out_df = df2[['Mês', 'Saldos']]
first_out_df

          Mês  Saldos
0  2020-01-01  112211
1  2020-02-01  217496
2  2020-03-01 -294777
3  2020-04-01 -981805
4  2020-05-01 -398217
5  2020-06-01  -53505
6  2020-07-01  108763
7  2020-08-01  214809
8  2020-09-01  299497
9  2020-10-01  366166
10 2020-11-01  376265
11 2020-12-01 -157635
12 2021-01-01  246460
13 2021-02-01  389679
14 2021-03-01  147931
15 2021-04-01   84441
16 2021-05-01  260585
17 2021-06-01  307759
18 2021-07-01  296830
19 2021-08-01  375284
20 2021-09-01  318051
21 2021-10-01  241766
22 2021-11-01  324112

In [4]:
# creates panda dataframe with specific sheets  - second_df


second_df = pd.read_excel(file_in, sheet_name=11, skiprows=4, header=[0, 1])

In [5]:
# optimizes data mensal evolution by dates and regions with Saldos

regions_table = ('Região e UF', 'Unnamed: 1_level_1')
regions_names = ('Norte', 'Nordeste', 'Sudeste',
                 'Sul', 'Centro-Oeste', 'Não identificado')

# copying df for reutilizing
df2 = second_df.copy()


# function to create a dataframe columns list to use
def createColumnsList(param_df):
    columns_list = []
    column_names = param_df.columns.values.tolist()
    for column_name in column_names:
        # column_name has 2 parts (date, info_type)
        col_date, col_info = column_name
        month = col_date.split('/')[0]
        if month in months_names_br:
            if col_info.lower().find('saldos') != -1:
                columns_list.append(column_name)

    return(columns_list)


months_list = createColumnsList(df2)

# TRANSFORMAR EM FUNCAO
for month in months_list:
##for regions_list_index in range(0, 2):
    print('-MES----------------------------------------------------')
    print(month)
    print('-FILTRO----------------------------------------------------')
    filter = df2[month].apply(try_int)
    print(filter)
    df_tmp = df2[month]
    df_tmp.transpose
    print('-COLUNA_SALDO----------------------------------------------')
    print(df_tmp)
    print('-VALORES_INVALIDOS-----------------------------------------')
    print( df_tmp[filter == False] )
    print('-COLUNA ARRUMADA-------------------------------------------')
    df2.drop(df_tmp[filter == False].index, inplace=True)
    print(df2[[month]])    

df2[months_list]

# selecting specifics regions
df3 = df2[df2[regions_table].isin(regions_names)]
second_out_df = df3[months_list]

second_out_df = df3[months_list].astype(int)
second_out_df = second_out_df.transpose()

second_out_df

-MES----------------------------------------------------
('Janeiro/2020', 'Saldos')
-FILTRO----------------------------------------------------
0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34    False
35    False
36    False
37    False
38    False
39    False
Name: (Janeiro/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     112211.0
1       2818.0
2        -76.0
3        137.0
4        928.0
5        380.0
6       1178.0
7         74.0
8        197.0
9      -3339.0
10       427.0
11        31.0
12      2417.0
13     -1033.0
14     -2567.0
15      -585.0
16     -5046.0
17       178.0
18      2839.0
19     32353.0
20      4729.0
21       358.0
22    -11742.0
23     39008.0
24     60167.0
25     17902.0
26     29386.0
27     12879.0
28     20199.0
29      1742.0
30      9495.0
31      7641.0
32      1321.0
33        13.0
34         NaN
35         NaN
36         NaN
37         NaN
38         NaN
39         NaN
Name: (Janeiro/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
34   NaN
35   NaN
36   NaN
37   NaN
38   NaN
39   NaN
Name: (Janeiro/2020, Saldos), dtype: float64
-COLUNA ARRUMADA-------------------------------------------
   Janeiro/2020
         Saldos
0      112211.0
1        2818.0
2         -76.0
3         137.0
4         928.0
5         380.0
6        1178.0
7          74.0
8         197.0
9       -3339.0
10        427.0
11         31.0
12       2417.0
13      -1033.0
14      -2567.0
15       -585.0
16      -5046.0
17        178.0
18       2839.0
19      32353.0
20       4729.0
21        358.0
22     -11742.0
23      39008.0
24      60167.0
25      17902.0
26      29386.0
27      12879.0
28      20199.0
29       1742.0
30       9495.0
31       7641.0
32       1321.0
33         13.0
-MES----------------------------------------------------
('Fevereiro/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
Name: (Fevereiro/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     217496.0
1      10810.0
2       1277.0
3        950.0
4       1715.0
5        757.0
6       4445.0
7        183.0
8       1483.0
9       2271.0
10      2289.0
11      1033.0
12      7021.0
13     -2177.0
14     -3269.0
15      -264.0
16     -8500.0
17     -1923.0
18      8061.0
19    107593.0
20     26670.0
21      3623.0
22      1480.0
23     75820.0
24     70387.0
25     27967.0
26     20006.0
27     22414.0
28     26442.0
29      5856.0
30      3534.0
31     11024.0
32      6028.0
33        -7.0
Name: (Fevereiro/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Fevereiro/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Fevereiro/2020
           Saldos
0        217496.0
1         10810.0
2          1277.0
3           950.0
4          1715.0
5           757.0
6          4445.0
7           183.0
8          1483.0
9          2271.0
10         2289.0
11         1033.0
12         7021.0
13        -2177.0
14        -3269.0
15         -264.0
16        -8500.0
17        -1923.0
18         8061.0
19       107593.0
20        26670.0
21         3623.0
22         1480.0
23        75820.0
24        70387.0
25        27967.0
26        20006.0
27        22414.0
28        26442.0
29         5856.0
30         3534.0
31        11024.0
32         6028.0
33           -7.0
-MES----------------------------------------------------
('Março/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
Name: (Março/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0    -294777.0
1      -7508.0
2      -1115.0
3        113.0
4      -3586.0
5        411.0
6      -2672.0
7       -334.0
8       -325.0
9     -69952.0
10     -1857.0
11      -843.0
12     -7773.0
13     -2998.0
14     -1461.0
15    -29316.0
16     -6102.0
17     -3033.0
18    -16569.0
19   -159540.0
20    -21711.0
21     -4874.0
22    -35574.0
23    -97381.0
24    -40214.0
25    -15080.0
26     -8984.0
27    -16150.0
28    -17559.0
29      -638.0
30     -3902.0
31     -3199.0
32     -9820.0
33        -4.0
Name: (Março/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Março/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Março/2020
       Saldos
0   -294777.0
1     -7508.0
2     -1115.0
3       113.0
4     -3586.0
5       411.0
6     -2672.0
7      -334.0
8      -325.0
9    -69952.0
10    -1857.0
11     -843.0
12    -7773.0
13    -2998.0
14    -1461.0
15   -29316.0
16    -6102.0
17    -3033.0
18   -16569.0
19  -159540.0
20   -21711.0
21    -4874.0
22   -35574.0
23   -97381.0
24   -40214.0
25   -15080.0
26    -8984.0
27   -16150.0
28   -17559.0
29     -638.0
30    -3902.0
31    -3199.0
32    -9820.0
33       -4.0
-MES----------------------------------------------------
('Abril/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
Name: (Abril/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0    -981805.0
1     -32802.0
2      -5500.0
3       -565.0
4     -10292.0
5      -1404.0
6     -10951.0
7      -1047.0
8      -3043.0
9    -153291.0
10     -6898.0
11     -7025.0
12    -36228.0
13    -10101.0
14     -9666.0
15    -29511.0
16     -8689.0
17     -5416.0
18    -39757.0
19   -505526.0
20   -101034.0
21    -19763.0
22    -91032.0
23   -293697.0
24   -225073.0
25    -63121.0
26    -79430.0
27    -82522.0
28    -65113.0
29     -8543.0
30    -14346.0
31    -24221.0
32    -18003.0
33         0.0
Name: (Abril/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Abril/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Abril/2020
       Saldos
0   -981805.0
1    -32802.0
2     -5500.0
3      -565.0
4    -10292.0
5     -1404.0
6    -10951.0
7     -1047.0
8     -3043.0
9   -153291.0
10    -6898.0
11    -7025.0
12   -36228.0
13   -10101.0
14    -9666.0
15   -29511.0
16    -8689.0
17    -5416.0
18   -39757.0
19  -505526.0
20  -101034.0
21   -19763.0
22   -91032.0
23  -293697.0
24  -225073.0
25   -63121.0
26   -79430.0
27   -82522.0
28   -65113.0
29    -8543.0
30   -14346.0
31   -24221.0
32   -18003.0
33        0.0
-MES----------------------------------------------------
('Maio/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
Name: (Maio/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0    -398217.0
1     -12756.0
2      -1478.0
3       -110.0
4      -5395.0
5       -433.0
6      -3454.0
7       -366.0
8      -1520.0
9     -63976.0
10     -1775.0
11     -4093.0
12    -12051.0
13     -4545.0
14     -4293.0
15     -9460.0
16     -3100.0
17     -3896.0
18    -20763.0
19   -211106.0
20    -40702.0
21     -7973.0
22    -40749.0
23   -121682.0
24    -91225.0
25    -27935.0
26    -25997.0
27    -37293.0
28    -19223.0
29     -3395.0
30     -2623.0
31     -7197.0
32     -6008.0
33        69.0
Name: (Maio/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Maio/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Maio/2020
      Saldos
0  -398217.0
1   -12756.0
2    -1478.0
3     -110.0
4    -5395.0
5     -433.0
6    -3454.0
7     -366.0
8    -1520.0
9   -63976.0
10   -1775.0
11   -4093.0
12  -12051.0
13   -4545.0
14   -4293.0
15   -9460.0
16   -3100.0
17   -3896.0
18  -20763.0
19 -211106.0
20  -40702.0
21   -7973.0
22  -40749.0
23 -121682.0
24  -91225.0
25  -27935.0
26  -25997.0
27  -37293.0
28  -19223.0
29   -3395.0
30   -2623.0
31   -7197.0
32   -6008.0
33      69.0
-MES----------------------------------------------------
('Junho/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
Name: (Junho/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0    -53505.0
1      5510.0
2       573.0
3       -41.0
4      -847.0
5       -28.0
6      4843.0
7        -8.0
8      1018.0
9    -10154.0
10     3216.0
11     -458.0
12    -3628.0
13      913.0
14     -485.0
15    -4896.0
16      451.0
17    -1025.0
18    -4242.0
19   -46971.0
20    -1825.0
21     -802.0
22   -20189.0
23   -24155.0
24    -6761.0
25       35.0
26     1767.0
27    -8563.0
28     4735.0
29      351.0
30     5567.0
31     2118.0
32    -3301.0
33      136.0
Name: (Junho/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Junho/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Junho/2020
       Saldos
0    -53505.0
1      5510.0
2       573.0
3       -41.0
4      -847.0
5       -28.0
6      4843.0
7        -8.0
8      1018.0
9    -10154.0
10     3216.0
11     -458.0
12    -3628.0
13      913.0
14     -485.0
15    -4896.0
16      451.0
17    -1025.0
18    -4242.0
19   -46971.0
20    -1825.0
21     -802.0
22   -20189.0
23   -24155.0
24    -6761.0
25       35.0
26     1767.0
27    -8563.0
28     4735.0
29      351.0
30     5567.0
31     2118.0
32    -3301.0
33      136.0
-MES----------------------------------------------------
('Julho/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
Name: (Julho/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     108763.0
1      15771.0
2       1134.0
3        186.0
4       4209.0
5        174.0
6       8527.0
7        -16.0
8       1557.0
9      20276.0
10      5222.0
11       632.0
12      5063.0
13       602.0
14      1136.0
15      4956.0
16      1358.0
17      -960.0
18      2267.0
19     33790.0
20     17437.0
21      2398.0
22    -11118.0
23     25073.0
24     25939.0
25     12743.0
26     13346.0
27      -150.0
28     12985.0
29      2175.0
30      4973.0
31      4671.0
32      1166.0
33         2.0
Name: (Julho/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Julho/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Julho/2020
       Saldos
0    108763.0
1     15771.0
2      1134.0
3       186.0
4      4209.0
5       174.0
6      8527.0
7       -16.0
8      1557.0
9     20276.0
10     5222.0
11      632.0
12     5063.0
13      602.0
14     1136.0
15     4956.0
16     1358.0
17     -960.0
18     2267.0
19    33790.0
20    17437.0
21     2398.0
22   -11118.0
23    25073.0
24    25939.0
25    12743.0
26    13346.0
27     -150.0
28    12985.0
29     2175.0
30     4973.0
31     4671.0
32     1166.0
33        2.0
-MES----------------------------------------------------
('Agosto/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
Name: (Agosto/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     214809.0
1      22841.0
2       1491.0
3        643.0
4       7387.0
5        642.0
6      10126.0
7        541.0
8       2011.0
9      55822.0
10      5752.0
11      1600.0
12     10487.0
13      5591.0
14      9666.0
15     11749.0
16      3344.0
17       602.0
18      7031.0
19     86507.0
20     25032.0
21      5892.0
22       -11.0
23     55594.0
24     36668.0
25     14817.0
26     16760.0
27      5091.0
28     12963.0
29      1700.0
30      2397.0
31      5623.0
32      3243.0
33         8.0
Name: (Agosto/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Agosto/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Agosto/2020
        Saldos
0     214809.0
1      22841.0
2       1491.0
3        643.0
4       7387.0
5        642.0
6      10126.0
7        541.0
8       2011.0
9      55822.0
10      5752.0
11      1600.0
12     10487.0
13      5591.0
14      9666.0
15     11749.0
16      3344.0
17       602.0
18      7031.0
19     86507.0
20     25032.0
21      5892.0
22       -11.0
23     55594.0
24     36668.0
25     14817.0
26     16760.0
27      5091.0
28     12963.0
29      1700.0
30      2397.0
31      5623.0
32      3243.0
33         8.0
-MES----------------------------------------------------
('Setembro/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
Name: (Setembro/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     299497.0
1      21833.0
2       1429.0
3        531.0
4       6127.0
5       1183.0
6       9959.0
7        666.0
8       1938.0
9      86341.0
10      5258.0
11      2143.0
12     11256.0
13      4195.0
14      1769.0
15     23084.0
16     18854.0
17      3584.0
18     16198.0
19    118216.0
20     33750.0
21      6628.0
22      9597.0
23     68241.0
24     58122.0
25     18664.0
26     25099.0
27     14359.0
28     14975.0
29      2553.0
30      4288.0
31      6078.0
32      2056.0
33        10.0
Name: (Setembro/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Setembro/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Setembro/2020
          Saldos
0       299497.0
1        21833.0
2         1429.0
3          531.0
4         6127.0
5         1183.0
6         9959.0
7          666.0
8         1938.0
9        86341.0
10        5258.0
11        2143.0
12       11256.0
13        4195.0
14        1769.0
15       23084.0
16       18854.0
17        3584.0
18       16198.0
19      118216.0
20       33750.0
21        6628.0
22        9597.0
23       68241.0
24       58122.0
25       18664.0
26       25099.0
27       14359.0
28       14975.0
29        2553.0
30        4288.0
31        6078.0
32        2056.0
33          10.0
-MES----------------------------------------------------
('Outubro/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
Name: (Outubro/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     366166.0
1      20842.0
2       1509.0
3        662.0
4       5665.0
5        635.0
6       9759.0
7       1339.0
8       1273.0
9      64666.0
10      5524.0
11      3109.0
12     14903.0
13      4205.0
14      1164.0
15     13048.0
16      4633.0
17      3735.0
18     14345.0
19    173248.0
20     39676.0
21      9045.0
22     15489.0
23    109038.0
24     86094.0
25     30631.0
26     30891.0
27     24572.0
28     21150.0
29      3940.0
30      5351.0
31      6985.0
32      4874.0
33       166.0
Name: (Outubro/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Outubro/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Outubro/2020
         Saldos
0      366166.0
1       20842.0
2        1509.0
3         662.0
4        5665.0
5         635.0
6        9759.0
7        1339.0
8        1273.0
9       64666.0
10       5524.0
11       3109.0
12      14903.0
13       4205.0
14       1164.0
15      13048.0
16       4633.0
17       3735.0
18      14345.0
19     173248.0
20      39676.0
21       9045.0
22      15489.0
23     109038.0
24      86094.0
25      30631.0
26      30891.0
27      24572.0
28      21150.0
29       3940.0
30       5351.0
31       6985.0
32       4874.0
33        166.0
-MES----------------------------------------------------
('Novembro/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
Name: (Novembro/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     376265.0
1      14550.0
2        891.0
3        514.0
4       5384.0
5       1014.0
6       5841.0
7         73.0
8        833.0
9      65226.0
10      3914.0
11       997.0
12     13817.0
13      4163.0
14      9695.0
15     14031.0

Empty DataFrame
Columns: []
Index: [(Janeiro/2020, Saldos), (Fevereiro/2020, Saldos), (Março/2020, Saldos), (Abril/2020, Saldos), (Maio/2020, Saldos), (Junho/2020, Saldos), (Julho/2020, Saldos), (Agosto/2020, Saldos), (Setembro/2020, Saldos), (Outubro/2020, Saldos), (Novembro/2020, Saldos), (Dezembro/2020, Saldos), (Janeiro/2021, Saldos), (Fevereiro/2021, Saldos), (Março/2021, Saldos), (Abril/2021, Saldos), (Maio/2021, Saldos), (Junho/2021, Saldos), (Julho/2021, Saldos), (Agosto/2021, Saldos), (Setembro/2021, Saldos), (Outubro/2021, Saldos), (Novembro/2021, Saldos), (Dezembro/2021, Saldos)]

In [6]:
# creates panda dataframe with specific sheets  - third_df

third_df = pd.read_excel(file_in, sheet_name=9, skiprows=4, header=[0, 1])

In [7]:
# optimizes data mensal evolution by dates and sectors with Saldos

gr_act_econ_table = (
    'Grupamento de Atividades Econômicas e Seção CNAE 2.0', 'Unnamed: 1_level_1')
sector_names = ('Agricultura, pecuária, produção florestal, pesca e aquicultura', 'Indústria geral', 'Construção',
                'Comércio; reparação de veículos automotores e motocicletas', 'Serviços', 'Não identificado***')

# copying df for reutilizing
df2 = third_df.copy()

sectors_list = createColumnsList(df2)

for month in sectors_list:
    print('-MES----------------------------------------------------')
    print(month)
    print('-FILTRO----------------------------------------------------')
    filter = df2[month].apply(try_int)
    print(filter)
    df_tmp = df2[month]
    df_tmp.transpose
    print('-COLUNA_SALDO----------------------------------------------')
    print(df_tmp)
    print('-VALORES_INVALIDOS-----------------------------------------')
    print( df_tmp[filter == False] )
    print('-COLUNA ARRUMADA-------------------------------------------')
    df2.drop(df_tmp[filter == False].index, inplace=True)
    print(df2[[month]])    

df2[sectors_list]


# selecting specifics sectors
df3 = df2[df2[gr_act_econ_table].isin(sector_names)]
third_out_df = df3[sectors_list]

third_out_df = df3[sectors_list].astype(int)
third_out_df = third_out_df.transpose()
third_out_df

-MES----------------------------------------------------
('Janeiro/2020', 'Saldos')
-FILTRO----------------------------------------------------
0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
Name: (Janeiro/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     112211.0
1      16500.0
2      58288.0
3         45.0
4      57901.0
5       -387.0
6        729.0
7      35909.0
8     -51675.0
9      53189.0
10     -1920.0
11      4399.0
12     29500.0
13      5128.0
14      1747.0
15      1227.0
16     10455.0
17     10943.0
18     14190.0
19      -505.0
20      8590.0
21      6105.0
22         3.0
23      7017.0
24      2475.0
25      4497.0
26        45.0
27         0.0
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN
33         NaN
34         NaN
Name: (Janeiro/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
28   NaN
29   NaN
30   NaN
31   NaN
32   NaN
33   NaN
34   NaN
Name: (Janeiro/2020, Saldos), dtype: float64
-COLUNA ARRUMADA-------------------------------------------
   Janeiro/2020
         Saldos
0      112211.0
1       16500.0
2       58288.0
3          45.0
4       57901.0
5        -387.0
6         729.0
7       35909.0
8      -51675.0
9       53189.0
10      -1920.0
11       4399.0
12      29500.0
13       5128.0
14       1747.0
15       1227.0
16      10455.0
17      10943.0
18      14190.0
19       -505.0
20       8590.0
21       6105.0
22          3.0
23       7017.0
24       2475.0
25       4497.0
26         45.0
27          0.0
-MES----------------------------------------------------
('Fevereiro/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
Name: (Fevereiro/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     217496.0
1       3679.0
2      40019.0
3       1299.0
4      36567.0
5        273.0
6       1880.0
7      26033.0
8       9101.0
9     138665.0
10      9258.0
11     13019.0
12     30803.0
13      3776.0
14      1782.0
15      1228.0
16      8256.0
17     15761.0
18     76320.0
19     11404.0
20     54398.0
21     10518.0
22        22.0
23      9243.0
24      1952.0
25      7283.0
26         8.0
27        -1.0
Name: (Fevereiro/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Fevereiro/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Fevereiro/2020
           Saldos
0        217496.0
1          3679.0
2         40019.0
3          1299.0
4         36567.0
5           273.0
6          1880.0
7         26033.0
8          9101.0
9        138665.0
10         9258.0
11        13019.0
12        30803.0
13         3776.0
14         1782.0
15         1228.0
16         8256.0
17        15761.0
18        76320.0
19        11404.0
20        54398.0
21        10518.0
22           22.0
23         9243.0
24         1952.0
25         7283.0
26            8.0
27           -1.0
-MES----------------------------------------------------
('Março/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
Name: (Março/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0    -294777.0
1      -8506.0
2     -42781.0
3       -201.0
4     -42959.0
5         77.0
6        302.0
7     -17602.0
8     -89181.0
9    -136707.0
10     -7753.0
11    -96186.0
12    -45307.0
13     -1174.0
14      1700.0
15        86.0
16     -2489.0
17    -43430.0
18     23421.0
19      3602.0
20     11345.0
21      8474.0
22       -13.0
23    -10869.0
24     -6062.0
25     -4806.0
26        -1.0
27         0.0
Name: (Março/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Março/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Março/2020
       Saldos
0   -294777.0
1     -8506.0
2    -42781.0
3      -201.0
4    -42959.0
5        77.0
6       302.0
7    -17602.0
8    -89181.0
9   -136707.0
10    -7753.0
11   -96186.0
12   -45307.0
13    -1174.0
14     1700.0
15       86.0
16    -2489.0
17   -43430.0
18    23421.0
19     3602.0
20    11345.0
21     8474.0
22      -13.0
23   -10869.0
24    -6062.0
25    -4806.0
26       -1.0
27        0.0
-MES----------------------------------------------------
('Abril/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
Name: (Abril/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0    -981805.0
1      -6837.0
2    -217755.0
3      -1409.0
4    -213109.0
5         52.0
6      -3289.0
7     -75292.0
8    -265606.0
9    -416315.0
10    -56793.0
11   -150091.0
12   -148567.0
13    -14483.0
14     -6028.0
15     -3912.0
16    -24938.0
17    -99206.0
18    -24285.0
19      -199.0
20    -27244.0
21      3158.0
22       -33.0
23    -36546.0
24    -16037.0
25    -20478.0
26       -31.0
27         0.0
Name: (Abril/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Abril/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Abril/2020
       Saldos
0   -981805.0
1     -6837.0
2   -217755.0
3     -1409.0
4   -213109.0
5        52.0
6     -3289.0
7    -75292.0
8   -265606.0
9   -416315.0
10   -56793.0
11  -150091.0
12  -148567.0
13   -14483.0
14    -6028.0
15    -3912.0
16   -24938.0
17   -99206.0
18   -24285.0
19     -199.0
20   -27244.0
21     3158.0
22      -33.0
23   -36546.0
24   -16037.0
25   -20478.0
26      -31.0
27        0.0
-MES----------------------------------------------------
('Maio/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
Name: (Maio/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0    -398217.0
1      14798.0
2    -107806.0
3       -601.0
4    -104785.0
5          0.0
6      -2420.0
7     -23942.0
8    -106405.0
9    -174861.0
10    -30793.0
11    -64438.0
12    -49944.0
13     -5614.0
14     -3524.0
15     -1812.0
16    -12165.0
17    -26829.0
18    -12473.0
19       450.0
20    -21374.0
21      8451.0
22       -13.0
23    -17200.0
24     -6622.0
25    -10579.0
26         1.0
27        -1.0
Name: (Maio/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Maio/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Maio/2020
      Saldos
0  -398217.0
1    14798.0
2  -107806.0
3     -601.0
4  -104785.0
5        0.0
6    -2420.0
7   -23942.0
8  -106405.0
9  -174861.0
10  -30793.0
11  -64438.0
12  -49944.0
13   -5614.0
14   -3524.0
15   -1812.0
16  -12165.0
17  -26829.0
18  -12473.0
19     450.0
20  -21374.0
21    8451.0
22     -13.0
23  -17200.0
24   -6622.0
25  -10579.0
26       1.0
27      -1.0
-MES----------------------------------------------------
('Junho/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
Name: (Junho/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0    -53505.0
1     37725.0
2     -8924.0
3       603.0
4     -7680.0
5      -333.0
6     -1514.0
7     15588.0
8    -27547.0
9    -70347.0
10   -11120.0
11   -42900.0
12     4641.0
13      914.0
14    -1294.0
15     -587.0
16    -4823.0
17    10431.0
18   -10603.0
19     -509.0
20   -23185.0
21    13091.0
22       -1.0
23   -10364.0
24    -5207.0
25    -5139.0
26      -18.0
27        0.0
Name: (Junho/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Junho/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Junho/2020
       Saldos
0    -53505.0
1     37725.0
2     -8924.0
3       603.0
4     -7680.0
5      -333.0
6     -1514.0
7     15588.0
8    -27547.0
9    -70347.0
10   -11120.0
11   -42900.0
12     4641.0
13      914.0
14    -1294.0
15     -587.0
16    -4823.0
17    10431.0
18   -10603.0
19     -509.0
20   -23185.0
21    13091.0
22       -1.0
23   -10364.0
24    -5207.0
25    -5139.0
26      -18.0
27        0.0
-MES----------------------------------------------------
('Julho/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
Name: (Julho/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     108763.0
1      22429.0
2      49466.0
3        923.0
4      49159.0
5         58.0
6       -674.0
7      40753.0
8      20836.0
9     -24721.0
10     -5775.0
11    -30933.0
12     31916.0
13      4026.0
14        36.0
15       330.0
16      4090.0
17     23434.0
18    -14169.0
19      -479.0
20    -22936.0
21      9246.0
22        13.0
23     -5773.0
24     -3346.0
25     -2432.0
26         5.0
27         0.0
Name: (Julho/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Julho/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Julho/2020
       Saldos
0    108763.0
1     22429.0
2     49466.0
3       923.0
4     49159.0
5        58.0
6      -674.0
7     40753.0
8     20836.0
9    -24721.0
10    -5775.0
11   -30933.0
12    31916.0
13     4026.0
14       36.0
15      330.0
16     4090.0
17    23434.0
18   -14169.0
19     -479.0
20   -22936.0
21     9246.0
22       13.0
23    -5773.0
24    -3346.0
25    -2432.0
26        5.0
27        0.0
-MES----------------------------------------------------
('Agosto/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
Name: (Agosto/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     214809.0
1       8037.0
2      90219.0
3        900.0
4      87596.0
5         88.0
6       1635.0
7      50568.0
8      43742.0
9      22243.0
10     -2480.0
11    -19727.0
12     51094.0
13      5604.0
14      1303.0
15       917.0
16     12367.0
17     30903.0
18     -3059.0
19      -103.0
20    -10752.0
21      7796.0
22         6.0
23     -3591.0
24     -2280.0
25     -1315.0
26         4.0
27         0.0
Name: (Agosto/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Agosto/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Agosto/2020
        Saldos
0     214809.0
1       8037.0
2      90219.0
3        900.0
4      87596.0
5         88.0
6       1635.0
7      50568.0
8      43742.0
9      22243.0
10     -2480.0
11    -19727.0
12     51094.0
13      5604.0
14      1303.0
15       917.0
16     12367.0
17     30903.0
18     -3059.0
19      -103.0
20    -10752.0
21      7796.0
22         6.0
23     -3591.0
24     -2280.0
25     -1315.0
26         4.0
27         0.0
-MES----------------------------------------------------
('Setembro/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
Name: (Setembro/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     299497.0
1       5323.0
2     111321.0
3        914.0
4     108747.0
5        167.0
6       1493.0
7      47401.0
8      66467.0
9      68985.0
10      8888.0
11      2376.0
12     63419.0
13      8853.0
14      1229.0
15      1199.0
16     12265.0
17     39873.0
18     -6531.0
19      -189.0
20    -11186.0
21      4844.0
22        21.0
23       812.0
24       241.0
25       582.0
26       -11.0
27         0.0
Name: (Setembro/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Setembro/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Setembro/2020
          Saldos
0       299497.0
1         5323.0
2       111321.0
3          914.0
4       108747.0
5          167.0
6         1493.0
7        47401.0
8        66467.0
9        68985.0
10        8888.0
11        2376.0
12       63419.0
13        8853.0
14        1229.0
15        1199.0
16       12265.0
17       39873.0
18       -6531.0
19        -189.0
20      -11186.0
21        4844.0
22          21.0
23         812.0
24         241.0
25         582.0
26         -11.0
27           0.0
-MES----------------------------------------------------
('Outubro/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
Name: (Outubro/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     366166.0
1      -4491.0
2      84152.0
3       1230.0
4      80304.0
5        453.0
6       2165.0
7      35050.0
8     110683.0
9     140772.0
10     15932.0
11     25184.0
12     97895.0
13     13884.0
14     -2682.0
15      1435.0
16     18454.0
17     66804.0
18       -33.0
19      -600.0
20     -2611.0
21      3178.0
22        23.0
23      1771.0
24      2717.0
25      -950.0
26         4.0
27         0.0
Name: (Outubro/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Outubro/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Outubro/2020
         Saldos
0      366166.0
1       -4491.0
2       84152.0
3        1230.0
4       80304.0
5         453.0
6        2165.0
7       35050.0
8      110683.0
9      140772.0
10      15932.0
11      25184.0
12      97895.0
13      13884.0
14      -2682.0
15       1435.0
16      18454.0
17      66804.0
18        -33.0
19       -600.0
20      -2611.0
21       3178.0
22         23.0
23       1771.0
24       2717.0
25       -950.0
26          4.0
27          0.0
-MES----------------------------------------------------
('Novembro/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
Name: (Novembro/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0     376265.0
1     -21813.0
2      46239.0
3       1098.0
4      44186.0
5        290.0
6        665.0
7      16061.0
8     176957.0
9     158821.0
10     15264.0
11     35011.0
12     93212.0
13       560.0
14      1358.0
15      1593.0
16     12352.0
17     77349.0
18      8862.0
19     -2538.0
20     -1265.0
21     12665.0
22        13.0
23      6459.0
24      2418.0
25      4035.0
26         6.0
27         0.0
Name: (Novembro/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Novembro/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Novembro/2020
          Saldos
0       376265.0
1       -21813.0
2        46239.0
3         1098.0
4        44186.0
5          290.0
6          665.0
7        16061.0
8       176957.0
9       158821.0
10       15264.0
11       35011.0
12       93212.0
13         560.0
14        1358.0
15        1593.0
16       12352.0
17       77349.0
18        8862.0
19       -2538.0
20       -1265.0
21       12665.0
22          13.0
23        6459.0
24        2418.0
25        4035.0
26           6.0
27           0.0
-MES----------------------------------------------------
('Dezembro/2020', 'Saldos')
-FILTRO----------------------------------------------------
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
Name: (Dezembro/2020, Saldos), dtype: bool
-COLUNA_SALDO----------------------------------------------
0    -157635.0
1     -30020.0
2     -51129.0
3       -646.0
4     -48113.0
5       -353.0
6      -2017.0
7     -52756.0
8      46554.0
9     -70284.0
10     -6136.0
11     20011.0
12     -9113.0
13      2025.0
14       565.0
15       545.0
16     -6597.0
17     -5651.0
18    -64521.0
19    -16452.0
20    -52290.0
21      4221.0
22        17.0
23    -10542.0
24     -1765.0
25     -8772.0
26        -5.0
27         0.0
Name: (Dezembro/2020, Saldos), dtype: float64
-VALORES_INVALIDOS-----------------------------------------
Series([], Name: (Dezembro/2020, Saldos), dtype: float64)
-COLUNA ARRUMADA-------------------------------------------
   Dezembro/2020
          Saldos
0      -157635.0
1       -30020.0
2       -51129.0
3         -646.0
4       -48113.0
5         -353.0
6        -2017.0
7       -52756.0
8        46554.0
9       -70284.0
10       -6136.0
11       20011.0
12       -9113.0
13        2025.0
14         565.0
15         545.0
16       -6597.0
17       -5651.0
18      -64521.0
19      -16452.0
20      -52290.0

Empty DataFrame
Columns: []
Index: [(Janeiro/2020, Saldos), (Fevereiro/2020, Saldos), (Março/2020, Saldos), (Abril/2020, Saldos), (Maio/2020, Saldos), (Junho/2020, Saldos), (Julho/2020, Saldos), (Agosto/2020, Saldos), (Setembro/2020, Saldos), (Outubro/2020, Saldos), (Novembro/2020, Saldos), (Dezembro/2020, Saldos), (Janeiro/2021, Saldos), (Fevereiro/2021, Saldos), (Março/2021, Saldos), (Abril/2021, Saldos), (Maio/2021, Saldos), (Junho/2021, Saldos), (Julho/2021, Saldos), (Agosto/2021, Saldos), (Setembro/2021, Saldos), (Outubro/2021, Saldos), (Novembro/2021, Saldos), (Dezembro/2021, Saldos)]

In [8]:
# creates csv file

first_columns_names_out = {'Mês': '', 'Saldos': 'total'}
second_columns_names_out = {1: 'reg1', 9: 'reg2', 19: 'reg3', 24: 'reg4', 28: 'reg5', 33: 'reg9'}
third_columns_names_out = {1: 'setA', 2: 'setE', 7: 'setF', 8: 'setG', 9: 'setU', 27: 'setZ'}

# remove index and columns
temp_first_out_df = first_out_df.reset_index(drop=True)
temp_first_out_df.rename(columns=first_columns_names_out, inplace=True)

temp_second_out_df = second_out_df.reset_index(drop=True)
temp_second_out_df.rename(columns=second_columns_names_out, inplace=True)

temp_third_out_df = third_out_df.reset_index(drop=True)
temp_third_out_df.rename(columns=third_columns_names_out, inplace=True)

final_out_df = pd.concat([temp_first_out_df, temp_second_out_df, temp_third_out_df], axis=1)
final_out_df.to_csv(file_out, index=False)
final_out_df

                  total
0  2020-01-01  112211.0
1  2020-02-01  217496.0
2  2020-03-01 -294777.0
3  2020-04-01 -981805.0
4  2020-05-01 -398217.0
5  2020-06-01  -53505.0
6  2020-07-01  108763.0
7  2020-08-01  214809.0
8  2020-09-01  299497.0
9  2020-10-01  366166.0
10 2020-11-01  376265.0
11 2020-12-01 -157635.0
12 2021-01-01  246460.0
13 2021-02-01  389679.0
14 2021-03-01  147931.0
15 2021-04-01   84441.0
16 2021-05-01  260585.0
17 2021-06-01  307759.0
18 2021-07-01  296830.0
19 2021-08-01  375284.0
20 2021-09-01  318051.0
21 2021-10-01  241766.0
22 2021-11-01  324112.0
23        NaT       NaN

In [9]:
f_in = 'caged_2022_02.csv'
myf_in = 'caged.csv'

csv_df = pd.read_csv(f_in)
mycsv_df = pd.read_csv(myf_in)
csv_df.rename(columns={'Unnamed: 0':''}, inplace=True)
mycsv_df.rename(columns={'Unnamed: 0':''}, inplace=True)

#rdf = csv_df[list(mycsv_df.columns)]
#rdf
#mycsv_df == rdf