In [1]:
import pandas as pd

In [2]:
# def caged_xlsx_to_csv():
# caged_xlsx_to_csv()

file_in = '3-tabelas.xlsx'
file_out = 'caged.csv'

skiprows = 4  # [0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0]

# Base com todas as planilhas
dfb = pd.read_excel(file_in, sheet_name=None, skiprows=skiprows)
print(dfb.keys())

/home/noobgoodie/.local/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
/home/noobgoodie/.local/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
/home/noobgoodie/.local/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

dict_keys(['CAGED', 'Sumário', 'Tabela 1', 'Tabela 2', 'Tabela 3', 'Tabela 4', 'Tabela 5', 'Tabela 5.1', 'Tabela 6', 'Tabela 6.1', 'Tabela 7', 'Tabela 7.1', 'Tabela 8', 'Tabela 8.1'])

In [3]:
df = dfb['Tabela 5.1']
df

,Unnamed: 0,Mês,Estoque,Admissões,Desligamentos,Saldos,Variação Relativa (%)
0,NaN,Janeiro/2020,38228184.0,1510568.0,1398611.0,111957.0,----
1,NaN,Fevereiro/2020,38445391.0,1614177.0,1396970.0,217207.0,0.568186
2,NaN,Março/2020,38150336.0,1460074.0,1755129.0,-295055.0,-0.767465
3,NaN,Abril/2020,37168502.0,665007.0,1646841.0,-981834.0,-2.573592
4,NaN,Maio/2020,36770059.0,762009.0,1160452.0,-398443.0,-1.071991
5,NaN,Junho/2020,36716025.0,962543.0,1016577.0,-54034.0,-0.146951
6,NaN,Julho/2020,36824435.0,1177481.0,1069071.0,108410.0,0.295266
7,NaN,Agosto/2020,37038958.0,1329407.0,1114884.0,214523.0,0.582556
8,NaN,Setembro/2020,37338331.0,1491114.0,1191741.0,299373.0,0.808265
9,NaN,Outubro/2020,37704350.0,1663104.0,1297085.0,366019.0,0.980277
10,NaN,Novembro/2020,38080472.0,1655938.0,1279816.0,376122.0,0.997556
11,NaN,Dezembro/2020,37922964.0,1335990.0,1493498.0,-157508.0,-0.413619
12,NaN,Janeiro/2021,38177257.0,1711739.0,1457446.0,254293.0,0.670551
13,NaN,Fevereiro/2021,38574720.0,1864617.0,1467154.0,397463.0,1.041099
14,NaN,Março/2021,38727513.0,1757653.0,1604860.0,152793.0,0.396096
15,NaN,Abril/2021,38816396.0,1499975.0,1411092.0,88883.0,0.229509
16,NaN,Maio/2021,39082079.0,1647879.0,1382196.0,265683.0,0.684461
17,NaN,Junho/2021,39396309.0,1691460.0,1377230.0,314230.0,0.804026
18,NaN,Julho/2021,39700072.0,1758754.0,1454991.0,303763.0,0.771044
19,NaN,Agosto/2021,40083168.0,1907515.0,1524419.0,383096.0,0.964976
20,NaN,Setembro/2021,40407952.0,1878172.0,1553388.0,324784.0,0.810275
21,NaN,Outubro/2021,40655905.0,1827239.0,1579286.0,247953.0,0.613624
22,NaN,Novembro/2021,40961865.0,1838754.0,1532794.0,305960.0,0.75256
23,NaN,Dezembro/2021,40678355.0,1463031.0,1746541.0,-283510.0,-0.692132
24,NaN,Janeiro/2022,40828710.0,1805745.0,1655390.0,150355.0,0.369619
25,NaN,Fevereiro/2022,41157217.0,2013143.0,1684636.0,328507.0,0.804598
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Fonte: Novo Caged – STRAB/MTP.,NaN,NaN,NaN,NaN,NaN
29,NaN,* A variação mensal do emprego toma como refer...,NaN,NaN,NaN,NaN,NaN

In [4]:
MONTHBR = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
MONTHNUMBER =  ['01',      '02',        '03',    '04',    '05',   '06',    '07',    '08',     '09',       '10',      '11',       '12']
mbr2mnumber = dict(zip(MONTHBR, MONTHNUMBER))
df2 = df.copy()
df2 = df2[ (df2['Mês'].str.slice(-4) >= '1900') & (df2['Mês'].str.slice(-4) <= '2099') ]
df2 = df2.dropna(how = 'all')

df2['Mês'] = df2['Mês'].replace(mbr2mnumber, regex=True)
df2['Mês'] = df2['Mês'].str.replace('/','-')
df2['Mês'] = pd.to_datetime(df2['Mês'], format = '%Y-%m-%d', infer_datetime_format = True)

df2['Saldos'] = df2['Saldos'].round().astype(int)

df2[['Mês', 'Saldos']].to_csv(file_out, index=False)

df2.rename(columns = {'Mês':'', 'Saldos':'total'}, inplace = True)
df2[['', 'total']].to_csv(file_out, index=False)
df2[['','total']]

                total
0  2020-01-01  111957
1  2020-02-01  217207
2  2020-03-01 -295055
3  2020-04-01 -981834
4  2020-05-01 -398443
5  2020-06-01  -54034
6  2020-07-01  108410
7  2020-08-01  214523
8  2020-09-01  299373
9  2020-10-01  366019
10 2020-11-01  376122
11 2020-12-01 -157508
12 2021-01-01  254293
13 2021-02-01  397463
14 2021-03-01  152793
15 2021-04-01   88883
16 2021-05-01  265683
17 2021-06-01  314230
18 2021-07-01  303763
19 2021-08-01  383096
20 2021-09-01  324784
21 2021-10-01  247953
22 2021-11-01  305960
23 2021-12-01 -283510
24 2022-01-01  150355
25 2022-02-01  328507

In [5]:
df = pd.read_excel(file_in, sheet_name=11, skiprows=4, header=[0,1])

In [6]:
df

   Unnamed: 0_level_0                                        Região e UF  \
   Unnamed: 0_level_1                                 Unnamed: 1_level_1
0                 NaN                                             Brasil
1                 NaN                                              Norte
2                 NaN                                           Rondônia
3                 NaN                                               Acre
4                 NaN                                           Amazonas
5                 NaN                                            Roraima
6                 NaN                                               Pará
7                 NaN                                              Amapá
8                 NaN                                          Tocantins
9                 NaN                                           Nordeste
10                NaN                                           Maranhão
11                NaN                                              Piauí
12                NaN                                              Ceará
13                NaN                                Rio Grande do Norte
14                NaN                                            Paraíba
15                NaN                                         Pernambuco
16                NaN                                            Alagoas
17                NaN                                            Sergipe
18                NaN                                              Bahia
19                NaN                                            Sudeste
20                NaN                                       Minas Gerais
21                NaN                                     Espírito Santo
22                NaN                                     Rio de Janeiro
23                NaN                                          São Paulo
24                NaN                                                Sul
25                NaN                                             Paraná
26                NaN                                     Santa Catarina
27                NaN                                  Rio Grande do Sul
28                NaN                                       Centro-Oeste
29                NaN                                 Mato Grosso do Sul
30                NaN                                        Mato Grosso
31                NaN                                              Goiás
32                NaN                                   Distrito Federal
33                NaN                                   Não identificado
34                NaN                                                NaN
35                NaN                                                NaN
36                NaN                     Fonte: Novo Caged – STRAB/MTP.
37                NaN  * A variação mensal do emprego toma como refer...
38                NaN  ** Resultados acrescidos dos ajustes; a variaç...
39                NaN  *** O estoque da competência dezembro/2021 ref...

   Janeiro/2020                                                           \
        Estoque  Admissões Desligamentos    Saldos Variação Relativa (%)
0    38228184.0  1510568.0     1398611.0  111957.0                   NaN
1     1724369.0    63038.0       60220.0    2818.0                   NaN
2      231726.0     9185.0        9251.0     -66.0                   NaN
3       76242.0     2897.0        2760.0     137.0                   NaN
4      400870.0    15459.0       14538.0     921.0                   NaN
5       55508.0     2286.0        1906.0     380.0                   NaN
6      718344.0    25195.0       24020.0    1175.0                   NaN
7       63161.0     2161.0        2087.0      74.0                   NaN
8      178518.0     5855.0        5658.0     197.0                   NaN
9     6177110.0   188640.0      192037.0   -3397.0                   NaN
10     466880.0    13632.0       13216.0     416.0                   NaN
11     284383.0     8260.0        8230.0      30.0                   NaN
12    1107676.0    36738.0       34328.0    2410.0                   NaN
13     409678.0    12402.0       13446.0   -1044.0                   NaN
14     396013.0    11487.0       14056.0   -2569.0                   NaN
15    1210714.0    35695.0       36285.0    -590.0                   NaN
16     339254.0     9274.0       14325.0   -5051.0                   NaN
17     274487.0     7975.0        7799.0     176.0                   NaN
18    1688025.0    53177.0       50352.0    2825.0                   NaN
19   19882026.0   777878.0      745686.0   32192.0                   NaN
20    4005316.0   148189.0      143468.0    4721.0                   NaN
21     719068.0    27644.0       27288.0     356.0                   NaN
22    3192866.0   100921.0      112677.0  -11756.0                   NaN
23   11964776.0   501124.0      462253.0   38871.0                   NaN
24    7191121.0   338003.0      277842.0   60161.0                   NaN
25    2627861.0   118106.0      100209.0   17897.0                   NaN
26    2088128.0   116628.0       87243.0   29385.0                   NaN
27    2475132.0   103269.0       90390.0   12879.0                   NaN
28    3231899.0   142995.0      122825.0   20170.0                   NaN
29     520120.0    20134.0       18394.0    1740.0                   NaN
30     719340.0    39439.0       29947.0    9492.0                   NaN
31    1198794.0    55118.0       47495.0    7623.0                   NaN
32     793645.0    28304.0       26989.0    1315.0                   NaN
33      21659.0       14.0           1.0      13.0                   ---
34          NaN        NaN           NaN       NaN                   NaN
35          NaN        NaN           NaN       NaN                   NaN
36          NaN        NaN           NaN       NaN                   NaN
37          NaN        NaN           NaN       NaN                   NaN
38          NaN        NaN           NaN       NaN                   NaN
39          NaN        NaN           NaN       NaN                   NaN

   Fevereiro/2020                           ... Fevereiro/2022  \
          Estoque  Admissões Desligamentos  ...         Saldos
0      38445391.0  1614177.0     1396970.0  ...       328507.0
1       1735162.0    67148.0       56355.0  ...        12727.0
2        233000.0    10826.0        9552.0  ...         2726.0
3         77191.0     3141.0        2192.0  ...          711.0
4        402582.0    14695.0       12983.0  ...         3217.0
5         56265.0     2685.0        1928.0  ...         1045.0
6        722779.0    26717.0       22282.0  ...         3212.0
7         63343.0     2302.0        2120.0  ...          158.0
8        180002.0     6782.0        5298.0  ...         1658.0
9       6179314.0   192974.0      190770.0  ...        28085.0
10       469164.0    13856.0       11572.0  ...         3495.0
11       285413.0     8130.0        7100.0  ...         1774.0
12      1114691.0    37992.0       30977.0  ...         8047.0
13       407494.0    12930.0       15114.0  ...         1644.0
14       392741.0    12378.0       15650.0  ...        -1451.0
15      1210429.0    35789.0       36074.0  ...          809.0
16       330746.0     9686.0       18194.0  ...         -600.0
17       272564.0     7473.0        9396.0  ...         1819.0
18      1696072.0    54740.0       46693.0  ...        12548.0
19     19989451.0   842624.0      735199.0  ...       162442.0
20      4031972.0   166804.0      140148.0  ...        36677.0
21       722687.0    31153.0       27534.0  ...         7062.0
22      3194329.0   109826.0      108363.0  ...        20441.0
23     12040463.0   534841.0      459154.0  ...        98262.0
24      7261487.0   365520.0      295154.0  ...        82898.0
25      2655816.0   136186.0      108231.0  ...        28506.0
26      2108131.0   115068.0       95065.0  ...        28484.0
27      2497540.0   114266.0       91858.0  ...        25908.0
28      3258325.0   145910.0      119484.0  ...        40930.0
29       525974.0    24464.0       18610.0  ...         7316.0
30       722868.0    34701.0       31173.0  ...         8828.0
31      1209810.0    56137.0       45121.0  ...        17562.0
32       799673.0    30608.0       24580.0  ...         7224.0
33        21652.0        1.0           8.0  ...         1425.0
34            NaN        NaN           NaN  ...            NaN
35            NaN        NaN           NaN  ...            NaN
36            NaN        NaN           NaN  ...            NaN
37            NaN        NaN           NaN  ...            NaN
38            NaN        NaN           NaN  ...            NaN
39            NaN        NaN           NaN  ...            NaN

                         Acumulado no Ano (2022)                          \
   Variação Relativa (%)               Admissões Desligamentos    Saldos
0               0.804598               3818888.0     3340026.0  478862.0
1               0.658465                167244.0      151980.0   15264.0
2               1.103068                 26264.0       22833.0    3431.0
3               0.816537                  7443.0        6527.0     916.0
4               0.722597                 37110.0       33223.0    3887.0
5               1.631436                  7406.0        6003.0    1403.0
6               0.392298                 64639.0       62127.0    2512.0
7               0.224451                  5797.0        5099.0     698.0
8               0.828122                 18585.0       16168.0    2417.0
9               0.422668                474259.0      442440.0   31819.0
10              0.664875                 38003.0       33967.0    4036.0
11               0.59034                 20185.0       19044.0    1141.0
12              0.676462                 87089.0       81176.0    5913.0
13              0.376047                 29763.0       30597.0    -834.0
14             -0.335317                 29905.0       32995.0   -3090.0
15              0.062605                 85811.0       84507.0    1304.0
16             -0.159844                 24089.0       25253.0   -1164.0
17              0.644108                 18380.0       17801.0     579.0
18              0.693628                141034.0      117100.0   23934.0
19              0.773541               1933105.0     1722216.0  210889.0
20              0.851893                399259.0      364172.0   35087.0
21              0.908382                 78471.0       67785.0   10686.0
22              0.631649                238225.0      215622.0   22603.0
23              0.774884               1217150.0     1074637.0  142513.0
24              1.077139                858674.0      716123.0  142551.0
25               1.00645                314113.0      266309.0   47804.0
26                 1.246                287501.0      235595.0   51906.0
27              1.005057                257060.0      214219.0   42841.0
28              1.162164                381276.0      306503.0   74773.0
29              1.293434                 60287.0       49495.0   10792.0
30              1.107074                103643.0       80139.0   23504.0
31              1.327733                149054.0      119016.0   30038.0
32               0.86398                 68292.0       57853.0   10439.0
33                   ---                  4330.0         764.0    3566.0
34                   NaN                     NaN           NaN       NaN
35                   NaN                     NaN           NaN       NaN
36                   NaN                     NaN           NaN       NaN
37                   NaN                     NaN           NaN       NaN
38                   NaN                     NaN           NaN       NaN
39                   NaN                     NaN           NaN       NaN

                         Últimos 12 Meses** (Mar/21 a Fev/22)**                \
   Variação Relativa (%)                              Admissões Desligamentos
0               1.177191                             21089320.0    18506823.0
1               0.790761                               992936.0      841201.0
2               1.392316                               141179.0      125228.0
3               1.054449                                43187.0       35308.0
4               0.874407                               224847.0      185289.0
5                2.20265                                38371.0       32700.0
6               0.306541                               411126.0      348396.0
7               0.999227                                33900.0       28482.0
8               1.211814                               100326.0       85798.0
9               0.479133                              2775827.0     2327764.0
10              0.768583                               223626.0      181166.0
11              0.378896                               119936.0      101806.0
12               0.49618                               493590.0      423418.0
13             -0.189693                               189034.0      161096.0
14             -0.711385                               178631.0      146337.0
15              0.100949                               522437.0      434345.0
16             -0.309633                               162161.0      132482.0
17              0.204128                               106295.0       92591.0
18              1.331403                               780117.0      654523.0
19              1.006566                             10960976.0     9695298.0
20              0.814662                              2242839.0     1971614.0
21              1.380973                               420952.0      369680.0
22              0.698924                              1357931.0     1170564.0
23              1.127778                              6939254.0     6183440.0
24              1.866712                              4387944.0     3946382.0
25              1.699376                              1604444.0     1447681.0
26              2.294073                              1455469.0     1301253.0
27              1.672934                              1328031.0     1197448.0
28              2.143699                              1951707.0     1686884.0
29              1.919772                               302369.0      264786.0
30              3.002781                               505352.0      441405.0
31              2.292575                               774743.0      669337.0
32              1.253309                               369243.0      311356.0
33                   ---                                19930.0        9294.0
34                   NaN                                    NaN           NaN
35                   NaN                                    NaN           NaN
36                   NaN                                    NaN           NaN
37                   NaN                                    NaN           NaN
38                   NaN                                    NaN           NaN
39                   NaN                                    NaN           NaN


       Saldos Variação Relativa (%)
0   2582497.0              6.694791
1    151735.0              8.458755
2     15951.0              6.819464
3      7879.0              9.860212
4     39558.0              9.675218
5      5671.0               9.54264
6     62730.0              8.262123
7      5418.0              8.318236
8     14528.0              7.754801
9    448063.0              7.198132
10    42460.0              8.724096
11    18130.0              6.380455
12    70172.0              6.223979
13    27938.0              6.799469
14    32294.0               8.09414
15    88092.0              7.310812
16    29679.0              8.600465
17    13704.0               5.06578
18   125594.0              7.405342
19  1265678.0              6.361296
20   271225.0              6.662689
21    51272.0              6.992755
22   187367.0              6.104738
23   755814.0              6.286235
24   441562.0              6.017909
25   156763.0               5.79729
26   154216.0              7.138628
27   130583.0              5.280158
28   264823.0               8.02984
29    37583.0              7.020149
30    63947.0              8.614734
31   105406.0              8.535853
32    57887.0              7.369756
33    10636.0                   ---
34        NaN                   NaN
35        NaN                   NaN
36        NaN                   NaN
37        NaN                   NaN
38        NaN                   NaN
39        NaN                   NaN

[40 rows x 140 columns]

In [15]:
HREG = ('Região e UF', 'Unnamed: 1_level_1')
FREG = ['Norte', 'Nordeste', 'Sudeste', 'Sul', 'Centro-Oeste', 'Não identificado']
FTOT = [('Janeiro/2020', 'Saldos'), ('Fevereiro/2020', 'Saldos'),
        ('Março/2020', 'Saldos'), ('Abril/2020', 'Saldos'),
        ('Maio/2020', 'Saldos'), ('Junho/2020', 'Saldos'), 
        ('Julho/2020', 'Saldos'), ('Agosto/2020', 'Saldos'), 
        ('Setembro/2020', 'Saldos'), ('Outubro/2020', 'Saldos'), 
        ('Novembro/2020', 'Saldos'), ('Dezembro/2020', 'Saldos')]
df2 = df.copy()
df2 = df2.dropna(how = 'all')

df3 = df2[df2[HREG].isin(FREG)]
df3[FTOT]

,Janeiro/2020,Fevereiro/2020,Março/2020,Abril/2020,Maio/2020,Junho/2020,Julho/2020,Agosto/2020,Setembro/2020,Outubro/2020,Novembro/2020,Dezembro/2020
,Saldos,Saldos,Saldos,Saldos,Saldos,Saldos,Saldos,Saldos,Saldos,Saldos,Saldos,Saldos
1,2818.0,10793.0,-7535.0,-32789.0,-12755.0,5518.0,15771.0,22841.0,21822.0,20811.0,14553.0,-11436.0
9,-3397.0,2204.0,-70004.0,-153334.0,-64149.0,-10635.0,19988.0,55683.0,86278.0,64635.0,65191.0,-13154.0
19,32192.0,107425.0,-159720.0,-505531.0,-211141.0,-47029.0,33731.0,86373.0,118147.0,173157.0,198076.0,-79969.0
24,60161.0,70366.0,-40221.0,-225073.0,-91232.0,-6764.0,25929.0,36656.0,58123.0,86095.0,85113.0,-35972.0
28,20170.0,26426.0,-17571.0,-65107.0,-19235.0,4740.0,12989.0,12962.0,14993.0,21157.0,13022.0,-17185.0
33,13.0,-7.0,-4.0,0.0,69.0,136.0,2.0,8.0,10.0,164.0,167.0,208.0