In [1]:
# CAGED (Cadastro Geral de Empregados e Desempregados)
# name:         caged_xlsx_to_csv
# date:         29/03/2022 - 01/04/2022
# description:  caged xlsx file data processed, optimized and saved into csv file

import pandas as pd

In [2]:
# creates panda database with all file sheets               - dfb
# creates panda dataframe with specific sheets              - first_df
# creates /path/files names for getting and saving data     - file_in, file_out

file_in = '3-tabelas.xlsx'
file_out = 'caged.csv'

skiprows = 4  # [0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0]

dfb = pd.read_excel(file_in, sheet_name=None, skiprows=skiprows)
first_df = dfb['Tabela 5.1']
# df

/home/noobgoodie/.local/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
/home/noobgoodie/.local/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
/home/noobgoodie/.local/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [3]:
# optimizes data mensal evolution by dates with Saldos

months_names_br = ('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
                   'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')
month_names_dec = ('01',      '02',        '03',    '04',    '05',
                   '06',    '07',    '08',     '09',       '10',      '11',       '12')

# prepare dict variable to the replacements
mbr2mdec = dict(zip(months_names_br, month_names_dec))

df2 = first_df.copy()

# selecting date cells only
df2 = df2[(df2['Mês'].str.slice(-4) >= '1900') &
          (df2['Mês'].str.slice(-4) <= '2099')]

# months name to months numbers replacements
df2['Mês'] = df2['Mês'].replace(mbr2mdec, regex=True)
df2['Mês'] = df2['Mês'].str.replace('/', '-')
df2['Mês'] = pd.to_datetime(
    df2['Mês'], format='%Y-%m-%d', infer_datetime_format=True)

df2['Saldos'] = df2['Saldos'].astype(int)
first_out_df = df2[['Mês', 'Saldos']]
first_out_df

          Mês  Saldos
0  2020-01-01  111957
1  2020-02-01  217207
2  2020-03-01 -295055
3  2020-04-01 -981834
4  2020-05-01 -398443
5  2020-06-01  -54034
6  2020-07-01  108410
7  2020-08-01  214523
8  2020-09-01  299373
9  2020-10-01  366019
10 2020-11-01  376122
11 2020-12-01 -157508
12 2021-01-01  254293
13 2021-02-01  397463
14 2021-03-01  152793
15 2021-04-01   88883
16 2021-05-01  265683
17 2021-06-01  314230
18 2021-07-01  303763
19 2021-08-01  383096
20 2021-09-01  324784
21 2021-10-01  247953
22 2021-11-01  305960
23 2021-12-01 -283510
24 2022-01-01  150355
25 2022-02-01  328507

In [4]:
# creates panda dataframe with specific sheets  - second_df


second_df = pd.read_excel(file_in, sheet_name=11, skiprows=4, header=[0, 1])

In [5]:
# optimizes data mensal evolution by dates and regions with Saldos

regions_table = ('Região e UF', 'Unnamed: 1_level_1')
regions_names = ('Norte', 'Nordeste', 'Sudeste',
                 'Sul', 'Centro-Oeste', 'Não identificado')

# copying df for reutilizing
df2 = second_df.copy()


# function to create a dataframe columns list to use
def createColumnsList(param_df):
    columns_list = []
    column_names = param_df.columns.values.tolist()
    for column_name in column_names:
        # column_name has 2 parts (date, info_type)
        col_date, col_info = column_name
        month = col_date.split('/')[0]
        if month in months_names_br:
            if col_info.lower().find('saldos') != -1:
                columns_list.append(column_name)

    return(columns_list)


regions_list = createColumnsList(df2)

# selecting specifics regions
df3 = df2[df2[regions_table].isin(regions_names)]
second_out_df = df3[regions_list]

second_out_df = df3[regions_list].astype(int)
second_out_df = second_out_df.transpose()

second_out_df

                          1       9       19      24     28    33
Janeiro/2020   Saldos   2818   -3397   32192   60161  20170    13
Fevereiro/2020 Saldos  10793    2204  107425   70366  26426    -7
Março/2020     Saldos  -7535  -70004 -159720  -40221 -17571    -4
Abril/2020     Saldos -32789 -153334 -505531 -225073 -65107     0
Maio/2020      Saldos -12755  -64149 -211141  -91232 -19235    69
Junho/2020     Saldos   5518  -10635  -47029   -6764   4740   136
Julho/2020     Saldos  15771   19988   33731   25929  12989     2
Agosto/2020    Saldos  22841   55683   86373   36656  12962     8
Setembro/2020  Saldos  21822   86278  118147   58123  14993    10
Outubro/2020   Saldos  20811   64635  173157   86095  21157   164
Novembro/2020  Saldos  14553   65191  198076   85113  13022   167
Dezembro/2020  Saldos -11436  -13154  -79969  -35972 -17185   208
Janeiro/2021   Saldos   8257   27262   98680   82086  37123   885
Fevereiro/2021 Saldos  13602   37637  202319  101239  41773   893
Março/2021     Saldos   9353   -1473   89186   41217  13796   714
Abril/2021     Saldos   9739   13396   32518   15365  17181   684
Maio/2021      Saldos  18390   35530  149668   34340  26843   912
Junho/2021     Saldos  24163   49110  160355   42305  37235  1062
Julho/2021     Saldos  23541   52400  152281   40953  33932   656
Agosto/2021    Saldos  22158   85190  187941   55732  31417   658
Setembro/2021  Saldos  17538   94307  142080   47898  21906  1055
Outubro/2021   Saldos   9132   50737  117617   52318  17133  1016
Novembro/2021  Saldos  16709   54909  169336   51265  13338   403
Dezembro/2021  Saldos -14252  -17862 -146193  -82382 -22731   -90
Janeiro/2022   Saldos   2537    3734   48447   59653  33843  2141
Fevereiro/2022 Saldos  12727   28085  162442   82898  40930  1425

In [6]:
# creates panda dataframe with specific sheets  - third_df

third_df = pd.read_excel(file_in, sheet_name=9, skiprows=4, header=[0, 1])

In [7]:
# optimizes data mensal evolution by dates and sectors with Saldos

gr_act_econ_table = (
    'Grupamento de Atividades Econômicas e Seção CNAE 2.0', 'Unnamed: 1_level_1')
sector_names = ('Agricultura, pecuária, produção florestal, pesca e aquicultura', 'Indústria geral', 'Construção',
                'Comércio; reparação de veículos automotores e motocicletas', 'Serviços', 'Não identificado***')

# copying df for reutilizing
df2 = third_df.copy()

sectors_list = createColumnsList(df2)

# selecting specifics sectors
df3 = df2[df2[gr_act_econ_table].isin(sector_names)]
third_out_df = df3[sectors_list]

third_out_df = df3[sectors_list].astype(int)
third_out_df = third_out_df.transpose()
third_out_df

                          1       2      7       8       9   27
Janeiro/2020   Saldos  16485   58261  35866  -51726   53071   0
Fevereiro/2020 Saldos   3666   39971  25990    9053  138528  -1
Março/2020     Saldos  -8575  -42788 -17646  -89225 -136821   0
Abril/2020     Saldos  -6833 -217738 -75300 -265612 -416351   0
Maio/2020      Saldos  14792 -107815 -23958 -106402 -175059  -1
Junho/2020     Saldos  37710   -8936  15568  -27560  -70816   0
Julho/2020     Saldos  22470   49444  40722   20805  -25031   0
Agosto/2020    Saldos   8025   90198  50520   43706   22074   0
Setembro/2020  Saldos   5321  111316  47379   66418   68939   0
Outubro/2020   Saldos  -4501   84138  35035  110621  140726   0
Novembro/2020  Saldos -21816   46218  16052  176920  158748   0
Dezembro/2020  Saldos -30180  -51127 -52769   46854  -70286   0
Janeiro/2021   Saldos  36487   91008  44293   10114   72391   0
Fevereiro/2021 Saldos  24850   93626  45156   67707  166124   0
Março/2021     Saldos   3242   37453  24334    6454   81310   0
Abril/2021     Saldos  10420   14857  22547    1666   39393   0
Maio/2021      Saldos  38131   42535  21950   59076  103992  -1
Junho/2021     Saldos  38540   50970  24050   76297  124373   0
Julho/2021     Saldos  25395   57982  29976   74990  115421  -1
Agosto/2021    Saldos  10158   73605  35404   81334  182596  -1
Setembro/2021  Saldos  10875   76475  26725   64452  146257   0
Outubro/2021   Saldos  -6323   25883  15924   70048  142423  -2
Novembro/2021  Saldos -19122    5738   9188  137594  172562   0
Dezembro/2021  Saldos -27575  -93824 -54273    6289 -114126  -1
Janeiro/2022   Saldos  24377   51789  36162  -63486  101515  -2
Fevereiro/2022 Saldos  17415   43000  39453   13219  215421  -1

In [10]:
# creates csv file

first_columns_names_out = {'Mês': '', 'Saldos': 'total'}
                     
second_columns_names_out = {1: 'reg1', 9: 'reg2', 19: 'reg3', 24: 'reg4', 28: 'reg5', 33: 'reg9'}

third_columns_names_out = {1: 'setA', 2: 'setE', 7: 'setF', 8: 'setG', 9: 'setU', 27: 'setZ'}

# remove index and columns
temp_first_out_df = first_out_df.reset_index(drop=True)
temp_second_out_df = second_out_df.reset_index(drop=True)
temp_third_out_df = third_out_df.reset_index(drop=True)

first_out_df.rename(columns=first_columns_names_out, inplace=True)
second_out_df.rename(columns=second_columns_names_out, inplace=True)
third_out_df.rename(columns=third_columns_names_out, inplace=True)

final_out_df = pd.concat([temp_first_out_df, temp_second_out_df, temp_third_out_df], axis=1)
final_out_df.to_csv(file_out, index=False)
final_out_df

,,total,reg1,reg2,reg3,reg4,reg5,reg9,setA,setE,setF,setG,setU,setZ
0,2020-01-01,111957,2818,-3397,32192,60161,20170,13,16485,58261,35866,-51726,53071,0
1,2020-02-01,217207,10793,2204,107425,70366,26426,-7,3666,39971,25990,9053,138528,-1
2,2020-03-01,-295055,-7535,-70004,-159720,-40221,-17571,-4,-8575,-42788,-17646,-89225,-136821,0
3,2020-04-01,-981834,-32789,-153334,-505531,-225073,-65107,0,-6833,-217738,-75300,-265612,-416351,0
4,2020-05-01,-398443,-12755,-64149,-211141,-91232,-19235,69,14792,-107815,-23958,-106402,-175059,-1
5,2020-06-01,-54034,5518,-10635,-47029,-6764,4740,136,37710,-8936,15568,-27560,-70816,0
6,2020-07-01,108410,15771,19988,33731,25929,12989,2,22470,49444,40722,20805,-25031,0
7,2020-08-01,214523,22841,55683,86373,36656,12962,8,8025,90198,50520,43706,22074,0
8,2020-09-01,299373,21822,86278,118147,58123,14993,10,5321,111316,47379,66418,68939,0
9,2020-10-01,366019,20811,64635,173157,86095,21157,164,-4501,84138,35035,110621,140726,0
10,2020-11-01,376122,14553,65191,198076,85113,13022,167,-21816,46218,16052,176920,158748,0
11,2020-12-01,-157508,-11436,-13154,-79969,-35972,-17185,208,-30180,-51127,-52769,46854,-70286,0
12,2021-01-01,254293,8257,27262,98680,82086,37123,885,36487,91008,44293,10114,72391,0
13,2021-02-01,397463,13602,37637,202319,101239,41773,893,24850,93626,45156,67707,166124,0
14,2021-03-01,152793,9353,-1473,89186,41217,13796,714,3242,37453,24334,6454,81310,0
15,2021-04-01,88883,9739,13396,32518,15365,17181,684,10420,14857,22547,1666,39393,0
16,2021-05-01,265683,18390,35530,149668,34340,26843,912,38131,42535,21950,59076,103992,-1
17,2021-06-01,314230,24163,49110,160355,42305,37235,1062,38540,50970,24050,76297,124373,0
18,2021-07-01,303763,23541,52400,152281,40953,33932,656,25395,57982,29976,74990,115421,-1
19,2021-08-01,383096,22158,85190,187941,55732,31417,658,10158,73605,35404,81334,182596,-1
20,2021-09-01,324784,17538,94307,142080,47898,21906,1055,10875,76475,26725,64452,146257,0
21,2021-10-01,247953,9132,50737,117617,52318,17133,1016,-6323,25883,15924,70048,142423,-2
22,2021-11-01,305960,16709,54909,169336,51265,13338,403,-19122,5738,9188,137594,172562,0
23,2021-12-01,-283510,-14252,-17862,-146193,-82382,-22731,-90,-27575,-93824,-54273,6289,-114126,-1
24,2022-01-01,150355,2537,3734,48447,59653,33843,2141,24377,51789,36162,-63486,101515,-2
25,2022-02-01,328507,12727,28085,162442,82898,40930,1425,17415,43000,39453,13219,215421,-1

In [9]:
f_in = 'caged_2022_02.csv'
myf_in = 'caged.csv'

csv_df = pd.read_csv(f_in)
mycsv_df = pd.read_csv(myf_in)
csv_df.rename(columns={'Unnamed: 0':''}, inplace=True)
mycsv_df.rename(columns={'Unnamed: 0':''}, inplace=True)

#rdf = csv_df[list(mycsv_df.columns)]
#rdf
#mycsv_df == rdf